/.vagrant/*
/server/geoserver/*
/server/downloaded/*
/server/data/impact/*
/server/data/impact summary/*
/server/data/impact report/*
/frontend/*

*.pyc
StyledLayerDescriptor-backup.xsd
IMPACT_tacloban_pop_tacloban_flood.sld
*.qix
*.keywords