<html ng-app="noahApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title> Project NOAH </title>
    
        <!-- Bootstrap -->
        <link href="{{ static_url("lib/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" media="screen">
        <link href="{{ static_url("lib/jqueryFileTree/jqueryFileTree.css") }}" rel="stylesheet">
        <link href="{{ static_url("lib/ol3/ol.css") }}" rel="stylesheet" media="screen">
        <link href="{{ static_url("css/bootmain.css") }}" rel="stylesheet" media="screen">
        <link href="{{ static_url("lib/ladda-spinner/ladda-themeless.min.css") }}" rel="stylesheet" media="screen">
        
        <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
        <!--WARNING: Respond.js doesn't work if you view the page via file://-->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
            </script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js">
            </script>
        <![endif]-->
    </head>
    
    <body>
        <div id="wrap">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                                data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span id="logo"></span>
                    <a class="navbar-brand" href="#">DOST Project NOAH</a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Legend</a></li>
                    </ul>
                </div>
            </div>

            <div id="toolbar" ng-controller="SearchCtrl">
                <div id="search">
                    <input id="area" name="area" type="text" size="40"
                            placeholder="Find a place..."/>
                    <img src="{{ static_url("img/search-white.png") }}"></img>
                </div>
            </div>
        
            <div id="sidemenu" ng-controller="SidebarCtrl">
                <div id="menubar">
                    <ul>
                        <li> <img id="floodbutton" ng-click="changePath('websafe')" src="{{ static_url("img/flood-button.png") }}" title="Flood"/></li>
                    </ul>
                </div>
            </div>
        
            <div ng-view></div>
            <div id="map" ng-controller="MapCtrl"></div>
        </div>

        <div id="footer">
            <div class="container">
                <p class="text-muted">Project NOAH 2014</p>
            </div>
        </div>

        <!-- Import all javascript dependencies -->
        <script src="{{ static_url("lib/angular/angular.min.js") }}"></script>
        <script src="{{ static_url("lib/jquery.js") }}"></script>
        <script src="{{ static_url("lib/bootstrap/js/bootstrap.min.js") }}"></script>
        
        <!-- Import javascript codes -->
        <script src="{{ static_url("js/test/modal.js") }}"></script>
        <!--
        <script src="{{ static_url("js/test/.js") }}"></script>
        <script src="{{ static_url("js/test/.js") }}"></script>
        <script src="{{ static_url("js/test/.js") }}"></script>
        -->
        <script src="{{ static_url("js/test.js") }}"></script>
        
    </body>
</html>