.menu.ng-enter,
.menu.ng-leave {
  opacity: 0;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}
.menu.ng-enter {
  left: -258px;
  opacity: 0;
}
.menu.ng-enter-active {
  left: 60px;
  opacity:1;
}
.menu.ng-leave {
  left: 60px;
  opacity:1;
}
.menu.ng-leave-active{
  left: -258px;
  opacity:0;
}
.toolbuttons,
#menubar img {
  -webkit-transition: top .2s ease, left .2s ease;
  -moz-transition: top .2s ease, left .2s ease;
  -o-transition: top .2s ease, left .2s ease;
  transition: top .2s ease, left .2s ease;
  position: relative;
  top: 0px;
  left: 0px;
}
.toolbuttons:hover,
#menubar img:hover {
  top: -2px;
  left: -2px;
}
.toolbuttons:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  top: 0px;
  left: 0px;
}