/*
 *WebSAFE styles
*/

.filetree {
    margin: 5 0 0 0;
    padding: 5 10 5 10;
    height: 150px;
    overflow: auto;
    background-color: #BCC;
}

.inasafe_window {
  float: right;
  position: fixed;
  top: 90px;
  right: 0px;
  //padding-top: 5px;
  height: 100%;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  //background-color: #FFF;         // white
  //background-color: #BCC;
  z-index: 2;
}

.inasafe_window label {
  color: #008EF1;
  padding-top: 5px;
}

.spinner {
  background-image: url(../img/spinner.gif);
}

.modal-body {
  height: 400px;
  overflow: auto;
}

#exposure, #hazard, #impact{
  width: 100%;
  font-size: 11px;
}

.inasafe_window legend {
  margin-bottom: 10px;
}

.getting_started, .limitations {
  margin: 5 0 5 0;
}

.getting_started > .panel-heading,
.limitations > .panel-heading  {
  padding: 5px 5px;
}

.getting_started > .panel-body,
.limitations > .panel-body {
  padding: 8px;
  font-size: 12px;
}

.limitations > .panel-body ol {
  padding-left: 20px;
}

.button_center {
  margin: 15 0 10 0;
  text-align: center;
}