
.info-board {
  margin: 8px 0px 8px 0px !important;
  height: 130px;
  background-color: #BCC !important;
}

.info-board h4 {
  text-align: center;
}

.info-board a {
  cursor: pointer;
  cursor: hand;
}

.layer-list > li {
  font-size: 11px;
}

.layer-list {
  padding: .1em .1em .1em 1em !important;
}

.websafe_window {
  overflow: auto;
}

.websafe_window label {
  color: #008EF1;
  padding-top: 5px;
}

.modal-body {
  height: 400px;
  overflow: auto;
}

.question-form-elements {
  width: 100%;
  font-size: 11px;
}

.filetree {
  position: absolute;
}

.exposure-filetree {
  margin-left: 230px;
}

.hazard-filetree {
  margin-left: 500px;
}

/*
 * CSS for the help 'page' component of WebSAFE
*/

.getting_started, .limitations {
  margin: 5 0 5 0;
}

.getting_started > .panel-heading,
.limitations > .panel-heading,
.info-board > .panel-heading {
  padding: 5px 5px;
}

.getting_started > .panel-body,
.limitations > .panel-body, 
.info-board > .panel-body {
  padding: 8px;
  font-size: 12px;
}

.limitations > .panel-body ol,
.info-board > .panel-body ol {
  padding-left: 20px;
}

.button_center {
  margin: 10px 0px 5px 0px;
  text-align: center;
}

.legend {
    //background-color: #BCC;
    position: absolute;
    padding: 3px;
    opacity: 0.7;
    bottom: 20px;
    z-index: 3;

    cursor: all-scroll;
}

.legend h4 {
  text-align: center;
}

.legend_exposure {
    left: 350px;
}

.legend_hazard {
    left: 200px;
}

.legend_impact {
    left: 200px;
}

legend {
  margin: 0px !important;
}